@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/Lato/Lato-Regular.woff2') format('woff2'), url('/Lato/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('/Lato/Lato-Italic.woff2') format('woff2'), url('/Lato/Lato-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/Lato/Lato-Bold.woff2') format('woff2'), url('/Lato/Lato-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('/Lato/Lato-BoldItalic.woff2') format('woff2'), url('/Lato/Lato-BoldItalic.woff') format('woff');
}

:root {
    font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}