button {
    color: var(--milky-color);
    background-color: var(--red-action-color);
    border: 0;
    padding: 16px 24px;
    border-radius: 32px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}