header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: calc(100% - 128px);
  height: 86px;
  z-index: 10;
  background-color: var(--pink-light-color);
  padding: 0 64px;

  .logo {
    padding-top: 8px;
    img {
      height: 48px;
    }

    h1 {
      vertical-align: middle;
      line-height: 2em;
      margin-top: -4px;
    }
  }

  nav {
    display: flex;
    width: 50%;
    min-width: 400px;
    justify-content: end;
    align-items: center;
    gap: 64px;
    margin-right: 64px;
    a {
      text-decoration: none;
      font-size: 1.3em;
      color: var(--graphite-color) !important;
    }
  }
}

html:not([data-scroll="0"]) header {
  box-shadow: var(--shadow);
}
