.blogContainer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  max-width: 100%;
  margin: 50px auto;
  padding-top: 50px;
  text-align: left;
  gap: 30px;

  .articleItem {
    a {
      color: inherit;
      text-decoration: none;
    }
    .articleTitle {
      &::after {
        margin-left: 10px;
        content: "»";
      }
    }
  }

  .articleItem + .articleItem {
    border-top: 1px solid var(--pink-second-color);
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: var(--shadow);

    .articleItem {
      padding-bottom: 20px;
      margin-bottom: 10px;
    }
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    gap: 30px;
    .welcomeText {
      background-color: var(--white-color);
      border-radius: 10px;
      padding: 10px 20px;
      box-shadow: var(--shadow);
    }
    .featuredPosts {
      background-color: var(--white-color);
      border-radius: 10px;
      padding: 10px 20px;
      box-shadow: var(--shadow);
    }
  }
}
