:root {
  --red-action-color: #fa555c;
  --pink-color: #ff9791;
  --pink-light-color: #ffd1c1;
  --pink-gray-color: #a38d82;
  --green-dark-color: #153a27;
  --green-action-color: #055844;
  --green-color: #058a75;
  --cyan-color: #01cc9d;
  --cyan-light-color: #9ce1d4;
  --green-gray-color: #516462;
  --milky-color: #F1F2F3;
  --graphite-color: #111213;

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--graphite-color);
  background-color: var(--milky-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  --scrollbar-width: calc(100vw - 100%);
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 3.5em;
  margin: 0.5em 0;
  text-align: start;
}