@import "./fonts";
@import "./colors";
@import "./variables";
@import "bootstrap/scss/bootstrap-grid";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  --scrollbar-width: calc(100vw - 100%);
}

.readMoreLink {
  text-decoration: none;
  color: var(--red-action-color);
}

h1 {
  font-size: 0.8em;
  line-height: 0.8em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0.5em 0;
  text-align: start;
}

.stripe {
  margin-bottom: 80px;
  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0.5em 0;
    text-align: start;
    color: var(--green-dark-color);
    &.centered {
      text-align: center;
    }
  }
  .lead-text {
    font-size: 2.25em;
    line-height: 1.3em;
    text-align: left;
    &.centered {
      text-align: center;
    }
  }
  .content-text {
    margin-top: 30px;
    text-align: left;
    line-height: 1.5;
    &.centered {
      text-align: center;
    }
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  border: 1px solid rgb(255, 151, 145);
  box-shadow: 1px 1px 3px rgba(255, 151, 145, 0.3);
  outline: none;
  transition: 0.5s;
  font-family: inherit;

  &:focus,
  &:active {
    border: 1px solid rgb(255, 151, 145);
    box-shadow: 1px 1px 12px rgba(255, 151, 145, 0.5);
  }
}

main {
  width: 100%;
  text-align: center;
  margin-top: 86px;
  position: relative;
  padding-bottom: 80px;
}

#lava-lamp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    var(--pink-second-color) 30%,
    var(--pink-light-color) 100%
  );
  z-index: -1;
  contain: strict;
  will-change: clip-path;
  transform: translate3d(0, 0, 0);
}
