.blog {
  .blog-index {
    margin-top: 30px;
    .blog-article-card {
      text-align: start;
      height: 480px;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: var(--shadow);
      .image {
        height: 280px;
        img {
          max-height: 100%;
          margin: auto;
        }
      }

      .category {
        font-size: 1em;
        color: var(--green-dark-color);
        margin-bottom: 10px;
      }
      .date {
        font-size: 0.8em;
        margin-bottom: 15px;
      }
      .title {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    }
  }
}
