#services {
    .fancy-vector {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--pink-light-color);
        z-index: -1;
    }
}