#title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
    >img {
        max-width: 600px;
    }
    .intro div {
        font-size: 3em;
        width: 500px;
        text-align: left;
    }
    .fancy-vector {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--pink-light-color);
        z-index: -1;
        clip-path: path('M 400, 0 C 700 0, 700 300, 1000 300 S 1300 600, 1600 600 S 1900 900, 2200 900 S 2500 1200, 2800 1200 S 3100 1500, 3400 1500 H 10000 V 0 H 400 Z');
    }

    .icon {
        position: absolute;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        &-1 {
            top: 25%;
            left: 17%;
            background-color: var(--green-color);
        }
        &-2 {
            top: 75%;
            left: 45%;
            background-color: var(--pink-color);
        }
        &-3 {
            top: 15%;
            left: 75%;
            background-color: var(--green-gray-color);
        }
    }
}